body {
  text-align: center;
  background-color: #FEECE9;
}

h1 {
  font-size: 5rem;
  color: #2F3A8F;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #CCD1E4;

}

footer {
  color: #EEE6CE;
  font-family: sans-serif;
}

.w {
  background: url("images/Tim1.jpg");
}

.a {
 background: url("images/Tim2.jpg");
}

.s {
 background: url("images/Tim3.jpg");
}

.d {
 background: url("images/Tim4.png");
}

.j {
 background: url("images/Tim5.jpg");
}

.k {
 background: url("images/Tim6.jpg");
}

.l {
 background: url("images/Boy1.jpg");
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #2F3A8F;
  font-size: 3rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #FE7E6D;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
